body {
	font-family: 'Lato', sans-serif;	
}

body.modal-open {
	overflow: hidden;
}

.modal {
	position: fixed;
	z-index: 1;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.85);
	overflow: hidden;
	display: none;
}

.escape {
	color: white;
	position: fixed;
	right: 10px;
	font-size: 40px;
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

h2 {
	margin-left: 10px;
}

.currImage {
	height: 90%;
	width: 100%;
	text-align: center;
}

.currImage img {
	max-height: 90%;
	margin-top: 10px;
}


.photo-list {
	display: block;
	text-align: center;	
	width: 90%;
	margin: auto;
	padding-left: 0;
}

.photo-list li {
	list-style-type: none;
	float: left;
	height: 400px;
	width: 400px;
	margin: 10px;
	line-height: 400px;
}

.photo-list img {
	max-height: 400px;
	max-width: 400px;
	vertical-align: middle;
}

.currTitle {
	color: white;
}

.next svg path, .prev svg path {
	fill: #fff;
}

.next, .prev {
	position: absolute;
	top: 50%;
}

.next {
	right: 0;
}

.prev {
	left: 0;
}

input[type="text"] {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;

  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  outline: none;	
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
