body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;	
}

body.modal-open {
	overflow: hidden;
}

.errors {
	margin-top: 10px;
	color: red;
}

.submit {
	margin-left: 10px;
}

.search {
	margin-bottom: 50px;
	text-align: left;
	margin-left: 20px;
}

input[type="text"] {
	margin-left: 10px;
	font-family: 'Lato', sans-serif;
	border-radius: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	box-shadow: none;  
	transition: box-shadow 0.25s, border 0.25s;  
	font-size: 18px;
	appearance: none;

}
input[type="text"]:focus,
input[type="text"].focus {
	outline: none;	
	border: solid 1px #dcdcdc;
	box-shadow: 0 0 5px 1px #ff0084;
}

.modal {
	position: fixed;
	z-index: 1;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.85);
	overflow: hidden;
	display: none;
}

.escape {
	position: fixed;
	right: 10px;
	font-size: 40px;
}

.icon-delete {
	fill: #fff;
}

.container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

h1 {
	margin-left: 20px;
	font-weight: 600;
	color: #ff0084;
}

.currImage {
	height: 90%;
	width: 100%;
	text-align: center;
}

.currImage img {
	max-height: 90%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}


.photo-list {
	display: block;
	text-align: center;	
	width: 90%;
	margin: auto;
	padding-left: 0;
}

.photo-list li {
	list-style-type: none;
	float: left;
	height: 400px;
	width: 400px;
	margin: 10px;
	line-height: 400px;
}

.photo-list img {
	max-height: 400px;
	max-width: 400px;
	vertical-align: middle;
}

.currTitle {
	color: white;
	margin-top: 10px;
}

.next svg path, .prev svg path {
	fill: #fff;
}

.next, .prev {
	position: absolute;
	top: 50%;
}

.next {
	right: 0;
}

.prev {
	left: 0;
}

@media (max-width: 700px) {
    .currTitle {
        font-size: 28px;
        margin-top: 50px;
    }

    .photo-list img {
    	max-width: 300px;
    	max-height: 300px;
    }

    .currImage img {
    	max-width: 350px;
    	max-height: 350px;
	}
}